@import "utilities";

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   font-family: 'Lato', sans-serif;
   color: black;
   line-height: 1.6;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: $secondary-color;
}

h1, h2 {
   font-weight: 300;
   line-height: 1.2;
   margin: 10px 0;
}

p {
   margin: 10px 0;
}

img {
   width: 100%;
}

//Navigation
.navbar {
   background-color: white;
   color: black;
   height: 70px;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 200;
   width: 100vw;

   & ul {
      display: flex;
   }
   & a {
      color: $accent;
      padding: 10px;
      margin: 0 5px;

      &:hover {
         border-bottom: 2px solid $accent;
      }
   }
}

.navbar .flex {
   justify-content: space-between;
}

#logo {
   font-family: 'Kaushan script', cursive;
   font-weight: 300;
   font-size: 1.5rem;
}

//Showcase-hero
.showcase {
   height: 100vh;
   background-image: url(../img/hero1.jpg);
   background-position: center;
   background-size: cover;
   //background-color: $bkgrnd;
   color: $primary-color;
   //position: relative;
   // padding-top: 30px;

   & h1 {
      font-size: 2.5rem;
   }
   & p {
      margin: 20px 0;
   }
   & .grid {
      overflow: visible;
   }
}

/* .showcase::before,
.showcase::after {
   content: "";
   position: absolute;
   height: 100px;
   bottom: -80px;
   right: 0;
   left: 0;
   background: $secondary-color;
   transform: skewY(-1.4deg);
   -webkit-transform: skewY(-1.4deg);
   -moz-transform: skewY(-1.4deg);
   -ms-transform: skewY(-1.4deg);
} */

.showcase-form {
   position: relative;
   top: 60px;
   height: 350px;
   width: 350px;
   padding: 40px;
   z-index: 100;
   justify-self: flex-end;

   & .form-control {
      margin: 20px 0;
   }
   & input[type="text"], input[type="email"] {
      border: 0;
      border-bottom: 1px solid #b4becb;
      width: 90%;
      padding: 3px;
      font-size: 16px;
   }
   & input:focus {
      outline: none;
   }
}

.stats {
   padding-top: 100px;

   & .grid h3 {
      font-size: 35px;
   }
   & .grid p {
      font-size: 20px;
      font-weight: bold;
   }
}

.stats-heading {
   max-width: 500px;
   margin: auto;
}

//Project section
#work {
   text-align: center;
   font-weight: bolder;
   padding-top: 15px;
   margin-bottom: 40px;
   font-family: 'Montserrat', sans-serif;
   text-shadow: 2px 2px 3px rgb(184, 184, 184);
}
.projects {
   margin-top: 50px;
   margin-bottom: 60px;
}

//about me
.about {
   padding: 30px auto;
   margin: 20px auto;
   background-color: $accent;
   height: 90vh;
}

.portrait {
   float: left;
   max-width: 20vw;
   border-radius: 50%;
   border: 3px solid black;
}

footer {
   text-align: center;
   background-color: $accent;
}