@import "utilities";

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   font-family: 'Lato', sans-serif;
   color: #333;
   line-height: 1.6;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: #333;
}

h1, h2 {
   font-weight: 300;
   line-height: 1.2;
   margin: 10px 0;
}

p {
   margin: 10px 0;
}

img {
   width: 100%;
}

//Navigation
.navbar {
   background-color: $primary-color;
   color: white;
   height: 70px;

   & ul {
      display: flex;
   }
   & a {
      color: white;
      padding: 10px;
      margin: 0 5px;

      &:hover {
         border-bottom: 2px whitesmoke solid;
      }
   }
}

.navbar .flex {
   justify-content: space-between;
}

//Showcase-hero
.showcase {
   height: 400px;
   //background-color: $primary-color;
   background-image: $gradient;
   color: white;
   position: relative;
   // padding-top: 30px;

   & h1 {
      font-size: 2.5rem;
   }
   & p {
      margin: 20px 0;
   }
   & .grid {
      overflow: visible;
   }
}

.showcase::before,
.showcase::after {
   content: "";
   position: absolute;
   height: 100px;
   bottom: -80px;
   right: 0;
   left: 0;
   background:white;
   transform: skewY(-1.4deg);
   -webkit-transform: skewY(-1.4deg);
   -moz-transform: skewY(-1.4deg);
   -ms-transform: skewY(-1.4deg);
}

.showcase-form {
   position: relative;
   top: 60px;
   height: 350px;
   width: 350px;
   padding: 40px;
   z-index: 100;
   justify-self: flex-end;

   & .form-control {
      margin: 20px 0;
   }
   & input[type="text"], input[type="email"] {
      border: 0;
      border-bottom: 1px solid #b4becb;
      width: 90%;
      padding: 3px;
      font-size: 16px;
   }
   & input:focus {
      outline: none;
   }
}

.stats {
   padding-top: 100px;

   & .grid h3 {
      font-size: 35px;
   }
   & .grid p {
      font-size: 20px;
      font-weight: bold;
   }
}

.stats-heading {
   max-width: 500px;
   margin: auto;
}
